*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}

.tile {
    width: 30px;
    height: 30px;
    outline: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: white;
    color: black;
}

.hidden {
    color: gray;
    background: gray;
}

.end {
    outline: none;
    background: black;
}